In [6]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

In [7]:
data = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/data.csv")
data

,Unnamed: 0,Datum,Brot,Broetchen,Crossaint,Konditorei,Kuchen,Saisonbrot,Umsatz_total,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,VPI,Arrival_date,Departure_date,Ship,_merge
0,0,2013-07-01,148.828353,535.856285,201.198426,65.890169,317.475875,0.0,1269,6.0,17.8375,15.0,20.0,0,98.9,NaN,NaN,NaN,left_only
1,1,2013-07-02,159.793757,546.780787,265.261254,74.543917,383.628682,0.0,1430,3.0,17.3125,10.0,NaN,0,98.9,NaN,NaN,NaN,left_only
2,2,2013-07-03,111.885594,427.343259,210.260241,69.262728,305.523072,0.0,1124,7.0,21.0750,6.0,61.0,0,98.9,NaN,NaN,NaN,left_only
3,3,2013-07-04,168.864941,454.859641,190.686641,61.490175,308.408168,0.0,1184,7.0,18.8500,7.0,20.0,0,98.9,NaN,NaN,NaN,left_only
4,4,2013-07-05,171.280754,492.818804,181.644870,86.759861,355.518770,0.0,1288,5.0,19.9750,12.0,NaN,0,98.9,2013-07-05,07.05.13,MSC Poesia,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,1947,2018-07-30,148.541340,616.358562,348.770346,71.822977,324.965348,0.0,1510,6.0,27.7875,10.0,21.0,0,104.4,2018-07-30,30.07.18,Europa,both
1948,1948,2018-07-30,148.541340,616.358562,348.770346,71.822977,324.965348,0.0,1510,6.0,27.7875,10.0,21.0,0,104.4,2018-07-30,30.07.18,Zuiderdam,both
1949,1949,2018-07-30,148.541340,616.358562,348.770346,71.822977,324.965348,0.0,1510,6.0,27.7875,10.0,21.0,0,104.4,2018-07-30,31.07.18,Astor,both
1950,1950,2018-07-31,123.075682,586.081666,285.872616,57.102795,261.341313,0.0,1313,5.0,31.2875,11.0,NaN,0,104.4,2018-07-31,31.07.18,Mein Schiff 1,both
1951,1951,2018-07-31,123.075682,586.081666,285.872616,57.102795,261.341313,0.0,1313,5.0,31.2875,11.0,NaN,0,104.4,2018-07-31,31.07.18,Costa Pacifica,both

In [12]:
model = smf.ols("Umsatz_total ~ Temperatur", data=data).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Umsatz_total   R-squared:                       0.244
Model:                            OLS   Adj. R-squared:                  0.243
Method:                 Least Squares   F-statistic:                     627.2
Date:                Thu, 28 Nov 2024   Prob (F-statistic):          3.16e-120
Time:                        16:12:45   Log-Likelihood:                -13588.
No. Observations:                1949   AIC:                         2.718e+04
Df Residuals:                    1947   BIC:                         2.719e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    824.1360     11.565     71.261      0.000     801.455     846.817
Temperatur    19.9840      0.798     25.044      0.000      18.419      21.549
==============================================================================
Omnibus:                      836.417   Durbin-Watson:                   0.832
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7548.125
Skew:                           1.779   Prob(JB):                         0.00
Kurtosis:                      11.960   Cond. No.                         28.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [15]:
model = smf.ols("Umsatz_total ~ Temperatur + Windgeschwindigkeit + KielerWoche + VPI", data=data).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Umsatz_total   R-squared:                       0.272
Model:                            OLS   Adj. R-squared:                  0.270
Method:                 Least Squares   F-statistic:                     181.5
Date:                Thu, 28 Nov 2024   Prob (F-statistic):          2.82e-132
Time:                        16:15:09   Log-Likelihood:                -13551.
No. Observations:                1949   AIC:                         2.711e+04
Df Residuals:                    1944   BIC:                         2.714e+04
Df Model:                           4
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept            3569.1774    388.287      9.192      0.000    2807.674    4330.681
Temperatur             20.4961      0.805     25.450      0.000      18.917      22.076
Windgeschwindigkeit     1.2535      1.402      0.894      0.371      -1.496       4.003
KielerWoche           180.2399     33.411      5.395      0.000     114.715     245.765
VPI                   -27.5189      3.871     -7.108      0.000     -35.111     -19.926
==============================================================================
Omnibus:                      842.198   Durbin-Watson:                   0.864
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7976.638
Skew:                           1.778   Prob(JB):                         0.00
Kurtosis:                      12.251   Cond. No.                     6.90e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.9e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
X1 = data["Datum"]
X2 = data["KielerWoche"]
X3 = data["Temperatur"]
X4 = data["VPI"]

In [19]:
X = np.hstack([X1, X2, X3, X4])

In [ ]:
y = data["Umsatz_total"]

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

NameError: name 'y' is not defined