Hier werden alle Daten aus verschiedenen Quellen zu einem großen Dataframe zusammen gefasst. Das sind zum einen die Daten welche uns vom Kurs zu Verfügung gestellt wurden, als auch die daten welche wir selber noch gefunden haben.

In [11]:
#packete für data handling laden
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [12]:
#Einlesen der Basisidaten, welche wir zur verfügung gestellt bekommen haben

#Umsatzdaten
umsatz = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/umsatzdaten_gekuerzt.csv")
print(umsatz.head())
print(umsatz.tail())
print(umsatz.shape)

        Datum  Warengruppe      Umsatz
0  2013-07-01            1  148.828353
1  2013-07-02            1  159.793757
2  2013-07-03            1  111.885594
3  2013-07-04            1  168.864941
4  2013-07-05            1  171.280754
           Datum  Warengruppe     Umsatz
9329  2017-12-21            6  87.471228
9330  2017-12-22            6  71.911652
9331  2017-12-23            6  84.062223
9332  2017-12-24            6  60.981969
9333  2017-12-27            6  34.972644
(9334, 3)

In [13]:
#Warengruppen one hot encoden

umsatz = pd.get_dummies(umsatz, columns=['Warengruppe'])
umsatz = umsatz * 1
print(umsatz.head())

        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6
0              0              0              0
1              0              0              0
2              0              0              0
3              0              0              0
4              0              0              0

In [14]:
#Wetterdaten
wetter = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/07_Wetter/07_wetter.csv")
print(wetter.head())
print(wetter.tail())
print(wetter.shape)

        Datum  Temp_Very_Cold  Temp_Cold  Temp_Mild  Temp_Warm  Temp_Hot  \
0  2012-01-01               0          1          0          0         0
1  2012-01-02               0          1          0          0         0
2  2012-01-03               0          1          0          0         0
3  2012-01-04               0          1          0          0         0
4  2012-01-05               0          1          0          0         0

   Cloud_Clear  Cloud_Partly_Cloudy  Cloud_Cloudy  Wind_Light  Wind_Moderate  \
0            0                    0             1           0              1
1            0                    0             1           0              1
2            0                    0             1           0              0
3            0                    1             0           0              0
4            0                    0             1           0              0

   Wind_Strong  Weather_Good  Weather_Light_Issues  Weather_Moderate  \
0            0             0                     1                 0
1            0             0                     1                 0
2            1             0                     1                 0
3            1             0                     0                 0
4            1             0                     0                 0

   Weather_Severe
0               0
1               0
2               0
3               1
4               1
           Datum  Temp_Very_Cold  Temp_Cold  Temp_Mild  Temp_Warm  Temp_Hot  \
2765  2019-07-28               0          0          0          1         0
2766  2019-07-29               0          0          0          0         1
2767  2019-07-30               0          0          0          1         0
2768  2019-07-31               0          0          0          1         0
2769  2019-08-01               0          0          0          1         0

      Cloud_Clear  Cloud_Partly_Cloudy  Cloud_Cloudy  Wind_Light  \
2765            0                    1             0           0
2766            0                    0             1           1
2767            0                    0             1           1
2768            0                    0             1           1
2769            0                    1             0           0

      Wind_Moderate  Wind_Strong  Weather_Good  Weather_Light_Issues  \
2765              1            0             0                     0
2766              0            0             0                     1
2767              0            0             0                     1
2768              0            0             0                     1
2769              1            0             0                     1

      Weather_Moderate  Weather_Severe
2765                 1               0
2766                 0               0
2767                 0               0
2768                 0               0
2769                 0               0
(2770, 16)

In [15]:
#Kieler Woche Daten
kiwo = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/kiwo.csv")
print(kiwo.head())
print(kiwo.tail())
print(kiwo.shape)

        Datum  KielerWoche
0  2012-06-16            1
1  2012-06-17            1
2  2012-06-18            1
3  2012-06-19            1
4  2012-06-20            1
         Datum  KielerWoche
67  2019-06-26            1
68  2019-06-27            1
69  2019-06-28            1
70  2019-06-29            1
71  2019-06-30            1
(72, 2)

In [ ]:
#nun können die Umsatzdaten mit den Wetterdaten zusammengeführt werden
#merge the data
data = pd.merge(umsatz,wetter, how='left', on='Datum')
print(data.head())
print(data.shape)

#es werden nur die Zeilen behalten, für welche es Umsatzdaten gibt

        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6  Temp_Very_Cold  Temp_Cold  \
0              0              0              0               0          0
1              0              0              0               0          0
2              0              0              0               0          0
3              0              0              0               0          0
4              0              0              0               0          0

   ...  Cloud_Clear  Cloud_Partly_Cloudy  Cloud_Cloudy  Wind_Light  \
0  ...            0                    0             1           0
1  ...            0                    1             0           0
2  ...            0                    0             1           1
3  ...            0                    0             1           1
4  ...            0                    1             0           0

   Wind_Moderate  Wind_Strong  Weather_Good  Weather_Light_Issues  \
0              1            0             0                     1
1              1            0             0                     1
2              0            0             0                     1
3              0            0             0                     1
4              1            0             0                     1

   Weather_Moderate  Weather_Severe
0                 0               0
1                 0               0
2                 0               0
3                 0               0
4                 0               0

[5 rows x 23 columns]
(9334, 23)

In [17]:
# und nun noch die Kieler Woche Daten hinzufügen
data = pd.merge(data, kiwo, how='left', on='Datum')
print(data.head())
print(data.shape)

#im moment steht da eine 1.0 wenn es Kieler Woche ist und eine NaN wenn nicht. Das ändern wir jetzt
data['KielerWoche'] = data['KielerWoche'].fillna(0)
data['KielerWoche'] = data['KielerWoche'].astype(int)
print(data.head())
print(data.shape)

        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6  Temp_Very_Cold  Temp_Cold  \
0              0              0              0               0          0
1              0              0              0               0          0
2              0              0              0               0          0
3              0              0              0               0          0
4              0              0              0               0          0

   ...  Cloud_Partly_Cloudy  Cloud_Cloudy  Wind_Light  Wind_Moderate  \
0  ...                    0             1           0              1
1  ...                    1             0           0              1
2  ...                    0             1           1              0
3  ...                    0             1           1              0
4  ...                    1             0           0              1

   Wind_Strong  Weather_Good  Weather_Light_Issues  Weather_Moderate  \
0            0             0                     1                 0
1            0             0                     1                 0
2            0             0                     1                 0
3            0             0                     1                 0
4            0             0                     1                 0

   Weather_Severe  KielerWoche
0               0          NaN
1               0          NaN
2               0          NaN
3               0          NaN
4               0          NaN

[5 rows x 24 columns]
(9334, 24)
        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6  Temp_Very_Cold  Temp_Cold  \
0              0              0              0               0          0
1              0              0              0               0          0
2              0              0              0               0          0
3              0              0              0               0          0
4              0              0              0               0          0

   ...  Cloud_Partly_Cloudy  Cloud_Cloudy  Wind_Light  Wind_Moderate  \
0  ...                    0             1           0              1
1  ...                    1             0           0              1
2  ...                    0             1           1              0
3  ...                    0             1           1              0
4  ...                    1             0           0              1

   Wind_Strong  Weather_Good  Weather_Light_Issues  Weather_Moderate  \
0            0             0                     1                 0
1            0             0                     1                 0
2            0             0                     1                 0
3            0             0                     1                 0
4            0             0                     1                 0

   Weather_Severe  KielerWoche
0               0            0
1               0            0
2               0            0
3               0            0
4               0            0

[5 rows x 24 columns]
(9334, 24)

In [18]:
#Wochentage hinzugefügen
wochentag = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/09_Wochentage/Wochentage.csv")
print(wochentag.head())

#mergen der Daten
data = pd.merge(data, wochentag, how='left', on='Datum')
print(data.head())
print(data.shape)

        Datum  Montag  Dienstag  Mittwoch  Donnerstag  Freitag  Samstag  \
0  2013-07-01       1         0         0           0        0        0
1  2013-07-02       0         1         0           0        0        0
2  2013-07-03       0         0         1           0        0        0
3  2013-07-04       0         0         0           1        0        0
4  2013-07-05       0         0         0           0        1        0

   Sonntag
0        0
1        0
2        0
3        0
4        0
        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6  Temp_Very_Cold  Temp_Cold  \
0              0              0              0               0          0
1              0              0              0               0          0
2              0              0              0               0          0
3              0              0              0               0          0
4              0              0              0               0          0

   ...  Weather_Moderate  Weather_Severe  KielerWoche  Montag  Dienstag  \
0  ...                 0               0            0       1         0
1  ...                 0               0            0       0         1
2  ...                 0               0            0       0         0
3  ...                 0               0            0       0         0
4  ...                 0               0            0       0         0

   Mittwoch  Donnerstag  Freitag  Samstag  Sonntag
0         0           0        0        0        0
1         0           0        0        0        0
2         1           0        0        0        0
3         0           1        0        0        0
4         0           0        1        0        0

[5 rows x 31 columns]
(9334, 31)

Nun haben wir alle Basisidaten zusammen geführt. Jetzt können noch die Variablen, welche wir selber gesucht haben hinzugefügt werden.

In [19]:
#hinzufügen der Inflationsdaten
#einlesen der Daten
inflation = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/02_Verbraucherpreisindex/vpi_daily.csv")
print(inflation.head())
print(inflation.shape)

#mergen der Daten
data = pd.merge(data, inflation, how='left', on='Datum')    
print(data.head())
print(data.shape)

        Datum   VPI
0  2013-07-01  98.9
1  2013-07-02  98.9
2  2013-07-03  98.9
3  2013-07-04  98.9
4  2013-07-05  98.9
(1857, 2)
        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6  Temp_Very_Cold  Temp_Cold  \
0              0              0              0               0          0
1              0              0              0               0          0
2              0              0              0               0          0
3              0              0              0               0          0
4              0              0              0               0          0

   ...  Weather_Severe  KielerWoche  Montag  Dienstag  Mittwoch  Donnerstag  \
0  ...               0            0       1         0         0           0
1  ...               0            0       0         1         0           0
2  ...               0            0       0         0         1           0
3  ...               0            0       0         0         0           1
4  ...               0            0       0         0         0           0

   Freitag  Samstag  Sonntag   VPI
0        0        0        0  98.9
1        0        0        0  98.9
2        0        0        0  98.9
3        0        0        0  98.9
4        1        0        0  98.9

[5 rows x 32 columns]
(9334, 32)

In [20]:
#hinzufügen der Kreuzfahrschfissdaten
schiffe = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/01_Kreuzfahrtschiffe/Alle_Schiffe.csv")
print(schiffe.head())

        Datum  Number_of_ships  Ship
0  2013-07-01              0.0     0
1  2013-07-02              0.0     0
2  2013-07-03              0.0     0
3  2013-07-04              0.0     0
4  2013-07-05              1.0     1

In [21]:
#merge the data
data = pd.merge(data, schiffe, how='left', left_on='Datum', right_on='Datum')

#fill NaN with False
data['Ship'] = data['Ship'].fillna(False)

print(data.head())
print(data.shape)

        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6  Temp_Very_Cold  Temp_Cold  \
0              0              0              0               0          0
1              0              0              0               0          0
2              0              0              0               0          0
3              0              0              0               0          0
4              0              0              0               0          0

   ...  Montag  Dienstag  Mittwoch  Donnerstag  Freitag  Samstag  Sonntag  \
0  ...       1         0         0           0        0        0        0
1  ...       0         1         0           0        0        0        0
2  ...       0         0         1           0        0        0        0
3  ...       0         0         0           1        0        0        0
4  ...       0         0         0           0        1        0        0

    VPI  Number_of_ships  Ship
0  98.9              0.0     0
1  98.9              0.0     0
2  98.9              0.0     0
3  98.9              0.0     0
4  98.9              1.0     1

[5 rows x 34 columns]
(9334, 34)

In [22]:
#importieren der heimspiel daten
heimspiele = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/03_Heimspiele/Kiel_Heimspiele.csv", sep=',')

print(heimspiele.head())
print(heimspiele.shape)

        Datum  Heimspiel
0  2013-01-01          0
1  2013-01-02          0
2  2013-01-03          0
3  2013-01-04          0
4  2013-01-05          0
(2922, 2)

In [23]:
#mergen der heimspiel Daten
data = pd.merge(data, heimspiele, how='left', left_on='Datum', right_on='Datum')
print(data.head())
print(data.shape)

        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6  Temp_Very_Cold  Temp_Cold  \
0              0              0              0               0          0
1              0              0              0               0          0
2              0              0              0               0          0
3              0              0              0               0          0
4              0              0              0               0          0

   ...  Dienstag  Mittwoch  Donnerstag  Freitag  Samstag  Sonntag   VPI  \
0  ...         0         0           0        0        0        0  98.9
1  ...         1         0           0        0        0        0  98.9
2  ...         0         1           0        0        0        0  98.9
3  ...         0         0           1        0        0        0  98.9
4  ...         0         0           0        1        0        0  98.9

   Number_of_ships  Ship  Heimspiel
0              0.0     0          0
1              0.0     0          0
2              0.0     0          0
3              0.0     0          0
4              1.0     1          0

[5 rows x 35 columns]
(9334, 35)

In [24]:
#Feiertagsdaten hochladen
feiertage = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/04_Feiertage/feiertage_final.csv", sep=';')
print(feiertage.head())
print(feiertage.shape)

        Datum  Feiertag
0  2013-07-01         0
1  2013-07-02         0
2  2013-07-03         0
3  2013-07-04         0
4  2013-07-05         0
(2375, 2)

In [25]:
#und mergen der feiertagsdaten
data = pd.merge(data, feiertage, how='left', left_on='Datum', right_on='Datum')
print(data.head())
print(data.shape)

        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6  Temp_Very_Cold  Temp_Cold  \
0              0              0              0               0          0
1              0              0              0               0          0
2              0              0              0               0          0
3              0              0              0               0          0
4              0              0              0               0          0

   ...  Mittwoch  Donnerstag  Freitag  Samstag  Sonntag   VPI  \
0  ...         0           0        0        0        0  98.9
1  ...         0           0        0        0        0  98.9
2  ...         1           0        0        0        0  98.9
3  ...         0           1        0        0        0  98.9
4  ...         0           0        1        0        0  98.9

   Number_of_ships  Ship  Heimspiel  Feiertag
0              0.0     0          0         0
1              0.0     0          0         0
2              0.0     0          0         0
3              0.0     0          0         0
4              1.0     1          0         0

[5 rows x 36 columns]
(9334, 36)

In [26]:
#hinzufügen der Feriendaten
ferien = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/06_Ferientage/06_ferientage.csv")
print(ferien.head())

#und mergen der Feriendaten
data = pd.merge(data, ferien, how='left', left_on='Datum', right_on='Datum')
print(data.head())

        Datum  is_holiday
0  2013-01-01           0
1  2013-01-02           0
2  2013-01-03           0
3  2013-01-04           0
4  2013-01-05           0
        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6  Temp_Very_Cold  Temp_Cold  \
0              0              0              0               0          0
1              0              0              0               0          0
2              0              0              0               0          0
3              0              0              0               0          0
4              0              0              0               0          0

   ...  Donnerstag  Freitag  Samstag  Sonntag   VPI  Number_of_ships  Ship  \
0  ...           0        0        0        0  98.9              0.0     0
1  ...           0        0        0        0  98.9              0.0     0
2  ...           0        0        0        0  98.9              0.0     0
3  ...           1        0        0        0  98.9              0.0     0
4  ...           0        1        0        0  98.9              1.0     1

   Heimspiel  Feiertag  is_holiday
0          0         0           0
1          0         0           0
2          0         0           0
3          0         0           0
4          0         0           0

[5 rows x 37 columns]

In [27]:
#hinzufügen der Märkte
marktdaten = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/08_Maerkte/maekte_final.csv")
print(marktdaten.head())

#und mergen der Marktdaten
data = pd.merge(data, marktdaten, how='left', left_on='Datum', right_on='Datum')
print(data.head())

        Datum  Weihnachtsmarkt  Markt
0  2013-01-01                0      0
1  2013-01-02                0      0
2  2013-01-03                0      0
3  2013-01-04                0      0
4  2013-01-05                0      0
        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6  Temp_Very_Cold  Temp_Cold  \
0              0              0              0               0          0
1              0              0              0               0          0
2              0              0              0               0          0
3              0              0              0               0          0
4              0              0              0               0          0

   ...  Samstag  Sonntag   VPI  Number_of_ships  Ship  Heimspiel  Feiertag  \
0  ...        0        0  98.9              0.0     0          0         0
1  ...        0        0  98.9              0.0     0          0         0
2  ...        0        0  98.9              0.0     0          0         0
3  ...        0        0  98.9              0.0     0          0         0
4  ...        0        0  98.9              1.0     1          0         0

   is_holiday  Weihnachtsmarkt  Markt
0           0                0      0
1           0                0      0
2           0                0      0
3           0                0      0
4           0                0      0

[5 rows x 39 columns]

Damit sind alle Daten gemerged und der df kann als csv zur weiteren Bearbeitung exportiert werden.

In [28]:
#exportieren der Daten als csv
data.to_csv("data_long.csv", index=False)

In [29]:
#teilern der Daten in einen Trainingsdatensatz und einen Validierungsdatensatz
#trinaingsdaten sollen vom 01.07.2013 bis 31.07.20217 gehen
#validierungsdaten sollen vom 01.08.2017 bis 31.07.2018 gehen
train = data[data['Datum'] < '2017-08-01']
valid = data[data['Datum'] >= '2017-08-01']

print(train.shape)
print(valid.shape)

#exportieren der Daten als csv
train.to_csv("Trainingsdaten_long.csv", index=False)
valid.to_csv("Validierungsdaten_long.csv", index=False)

(7493, 39)
(1841, 39)

In [30]:

#get the umsatz data in the wide format
# Pivot the DataFrame
umsatz_shaped = umsatz.pivot(index='Datum', columns='Warengruppe', values='Umsatz')

# Reset the index to make 'date' a column again
umsatz_shaped.reset_index(inplace=True)

#get colums names right
umsatz_shaped.columns = ['Datum', 'Brot', 'Broetchen', 'Croissant', 'Konditorei', 'Kuchen', 'Saisonbrot']

#aufräumen der Daten. NaN durch 0 ersetzen
umsatz_shaped.fillna(0, inplace=True)

print(umsatz_shaped.head())
print(umsatz_shaped.tail())    
print(umsatz_shaped.shape)

KeyError: 'Warengruppe'

In [ ]:
#Eine Spalte hinzufügen in welcher der Gesamtumsatz steht
umsatz_shaped['Umsatz_total'] = umsatz_shaped['Brot'] + umsatz_shaped['Broetchen'] + umsatz_shaped['Croissant'] + umsatz_shaped['Konditorei'] + umsatz_shaped['Kuchen'] + umsatz_shaped['Saisonbrot']
umsatz_shaped['Umsatz_total'] = umsatz_shaped['Umsatz_total'].astype(int)


print(umsatz_shaped.head())
print(umsatz_shaped.shape)

        Datum        Brot   Broetchen   Croissant  Konditorei      Kuchen  \
0  2013-07-01  148.828353  535.856285  201.198426   65.890169  317.475875
1  2013-07-02  159.793757  546.780787  265.261254   74.543917  383.628682
2  2013-07-03  111.885594  427.343259  210.260241   69.262728  305.523072
3  2013-07-04  168.864941  454.859641  190.686641   61.490175  308.408168
4  2013-07-05  171.280754  492.818804  181.644870   86.759861  355.518770

   Saisonbrot  Umsatz_total
0         0.0          1269
1         0.0          1430
2         0.0          1124
3         0.0          1184
4         0.0          1288
(1819, 8)