In [5]:
#packete für data handling laden
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [6]:
#Einlesen der Testdaten von Kaggle

#Umsatzdaten
umsatz = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/umsatzdaten_gekuerzt.csv")
print(umsatz.head())
print(umsatz.tail())
print(umsatz.shape)

        Datum  Warengruppe      Umsatz
0  2013-07-01            1  148.828353
1  2013-07-02            1  159.793757
2  2013-07-03            1  111.885594
3  2013-07-04            1  168.864941
4  2013-07-05            1  171.280754
           Datum  Warengruppe     Umsatz
9329  2017-12-21            6  87.471228
9330  2017-12-22            6  71.911652
9331  2017-12-23            6  84.062223
9332  2017-12-24            6  60.981969
9333  2017-12-27            6  34.972644
(9334, 3)

In [7]:
#Warengruppen one hot encoden

umsatz = pd.get_dummies(umsatz, columns=['Warengruppe'])
umsatz = umsatz * 1
print(umsatz.head())
print(umsatz.shape)

        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6
0              0              0              0
1              0              0              0
2              0              0              0
3              0              0              0
4              0              0              0
(9334, 8)

In [8]:
#Wetterdaten
wetter = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/07_Wetter/07_wetter.csv")
print(wetter.head())
print(wetter.tail())
print(wetter.shape)

        Datum  Temp_Very_Cold  Temp_Cold  Temp_Mild  Temp_Warm  Temp_Hot  \
0  2012-01-01               0          1          0          0         0
1  2012-01-02               0          1          0          0         0
2  2012-01-03               0          1          0          0         0
3  2012-01-04               0          1          0          0         0
4  2012-01-05               0          1          0          0         0

   Cloud_Clear  Cloud_Partly_Cloudy  Cloud_Cloudy  Wind_Light  Wind_Moderate  \
0            0                    0             1           0              1
1            0                    0             1           0              1
2            0                    0             1           0              0
3            0                    1             0           0              0
4            0                    0             1           0              0

   Wind_Strong  Weather_Good  Weather_Light_Issues  Weather_Moderate  \
0            0             0                     1                 0
1            0             0                     1                 0
2            1             0                     1                 0
3            1             0                     0                 0
4            1             0                     0                 0

   Weather_Severe
0               0
1               0
2               0
3               1
4               1
           Datum  Temp_Very_Cold  Temp_Cold  Temp_Mild  Temp_Warm  Temp_Hot  \
2765  2019-07-28               0          0          0          1         0
2766  2019-07-29               0          0          0          0         1
2767  2019-07-30               0          0          0          1         0
2768  2019-07-31               0          0          0          1         0
2769  2019-08-01               0          0          0          1         0

      Cloud_Clear  Cloud_Partly_Cloudy  Cloud_Cloudy  Wind_Light  \
2765            0                    1             0           0
2766            0                    0             1           1
2767            0                    0             1           1
2768            0                    0             1           1
2769            0                    1             0           0

      Wind_Moderate  Wind_Strong  Weather_Good  Weather_Light_Issues  \
2765              1            0             0                     0
2766              0            0             0                     1
2767              0            0             0                     1
2768              0            0             0                     1
2769              1            0             0                     1

      Weather_Moderate  Weather_Severe
2765                 1               0
2766                 0               0
2767                 0               0
2768                 0               0
2769                 0               0
(2770, 16)

In [9]:
#nun können die Umsatzdaten mit den Wetterdaten zusammengeführt werden
#merge the data
data = pd.merge(umsatz,wetter, how='left', on='Datum')
print(data.head())
print(data.shape)

#es werden nur die Zeilen behalten, für welche es Umsatzdaten gibt

        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6  Temp_Very_Cold  Temp_Cold  \
0              0              0              0               0          0
1              0              0              0               0          0
2              0              0              0               0          0
3              0              0              0               0          0
4              0              0              0               0          0

   ...  Cloud_Clear  Cloud_Partly_Cloudy  Cloud_Cloudy  Wind_Light  \
0  ...            0                    0             1           0
1  ...            0                    1             0           0
2  ...            0                    0             1           1
3  ...            0                    0             1           1
4  ...            0                    1             0           0

   Wind_Moderate  Wind_Strong  Weather_Good  Weather_Light_Issues  \
0              1            0             0                     1
1              1            0             0                     1
2              0            0             0                     1
3              0            0             0                     1
4              1            0             0                     1

   Weather_Moderate  Weather_Severe
0                 0               0
1                 0               0
2                 0               0
3                 0               0
4                 0               0

[5 rows x 23 columns]
(9334, 23)

In [10]:
#Kieler Woche Daten
kiwo = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/kiwo.csv")
print(kiwo.head())
print(kiwo.tail())
print(kiwo.shape)

        Datum  KielerWoche
0  2012-06-16            1
1  2012-06-17            1
2  2012-06-18            1
3  2012-06-19            1
4  2012-06-20            1
         Datum  KielerWoche
67  2019-06-26            1
68  2019-06-27            1
69  2019-06-28            1
70  2019-06-29            1
71  2019-06-30            1
(72, 2)

In [11]:
# und nun noch die Kieler Woche Daten hinzufügen
data = pd.merge(data, kiwo, how='left', on='Datum')
print(data.head())
print(data.shape)

#im moment steht da eine 1.0 wenn es Kieler Woche ist und eine NaN wenn nicht. Das ändern wir jetzt
data['KielerWoche'] = data['KielerWoche'].fillna(0)
data['KielerWoche'] = data['KielerWoche'].astype(int)
print(data.head())
print(data.shape)

        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6  Temp_Very_Cold  Temp_Cold  \
0              0              0              0               0          0
1              0              0              0               0          0
2              0              0              0               0          0
3              0              0              0               0          0
4              0              0              0               0          0

   ...  Cloud_Partly_Cloudy  Cloud_Cloudy  Wind_Light  Wind_Moderate  \
0  ...                    0             1           0              1
1  ...                    1             0           0              1
2  ...                    0             1           1              0
3  ...                    0             1           1              0
4  ...                    1             0           0              1

   Wind_Strong  Weather_Good  Weather_Light_Issues  Weather_Moderate  \
0            0             0                     1                 0
1            0             0                     1                 0
2            0             0                     1                 0
3            0             0                     1                 0
4            0             0                     1                 0

   Weather_Severe  KielerWoche
0               0          NaN
1               0          NaN
2               0          NaN
3               0          NaN
4               0          NaN

[5 rows x 24 columns]
(9334, 24)
        Datum      Umsatz  Warengruppe_1  Warengruppe_2  Warengruppe_3  \
0  2013-07-01  148.828353              1              0              0
1  2013-07-02  159.793757              1              0              0
2  2013-07-03  111.885594              1              0              0
3  2013-07-04  168.864941              1              0              0
4  2013-07-05  171.280754              1              0              0

   Warengruppe_4  Warengruppe_5  Warengruppe_6  Temp_Very_Cold  Temp_Cold  \
0              0              0              0               0          0
1              0              0              0               0          0
2              0              0              0               0          0
3              0              0              0               0          0
4              0              0              0               0          0

   ...  Cloud_Partly_Cloudy  Cloud_Cloudy  Wind_Light  Wind_Moderate  \
0  ...                    0             1           0              1
1  ...                    1             0           0              1
2  ...                    0             1           1              0
3  ...                    0             1           1              0
4  ...                    1             0           0              1

   Wind_Strong  Weather_Good  Weather_Light_Issues  Weather_Moderate  \
0            0             0                     1                 0
1            0             0                     1                 0
2            0             0                     1                 0
3            0             0                     1                 0
4            0             0                     1                 0

   Weather_Severe  KielerWoche
0               0            0
1               0            0
2               0            0
3               0            0
4               0            0

[5 rows x 24 columns]
(9334, 24)

In [12]:
#exportieren der Daten als csv
data.to_csv("data_simple.csv", index=False)