In diesem Notebook werden die Wochentage über den Zeitraum der Daten one-hot encoded, damit diese dann den Daten hinzugefügt werden können.

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [45]:
data = pd.read_csv('../umsatzdaten_gekuerzt.csv')
data.head()
data.shape

(9334, 3)

In [46]:
#get the umsatz data in the wide format
# Pivot the DataFrame
data_shaped = data.pivot(index='Datum', columns='Warengruppe', values='Umsatz')
# Reset the index to make 'date' a column again
data_shaped.reset_index(inplace=True)
#get colums names right
data_shaped.columns = ['Datum', 'Brot', 'Broetchen', 'Croissant', 'Konditorei', 'Kuchen', 'Saisonbrot']

print(data_shaped.head())   
print(data_shaped.shape)

#only keep the Datum column
data_shaped = data_shaped[['Datum']]
print(data_shaped.head())

        Datum        Brot   Broetchen   Croissant  Konditorei      Kuchen  \
0  2013-07-01  148.828353  535.856285  201.198426   65.890169  317.475875
1  2013-07-02  159.793757  546.780787  265.261254   74.543917  383.628682
2  2013-07-03  111.885594  427.343259  210.260241   69.262728  305.523072
3  2013-07-04  168.864941  454.859641  190.686641   61.490175  308.408168
4  2013-07-05  171.280754  492.818804  181.644870   86.759861  355.518770

   Saisonbrot
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
(1819, 7)
        Datum
0  2013-07-01
1  2013-07-02
2  2013-07-03
3  2013-07-04
4  2013-07-05

In [47]:
#Wochentag hinzufügen
data_shaped['Wochentag'] = pd.to_datetime(data_shaped['Datum']).dt.day_name()
data_shaped.head()

        Datum  Wochentag
0  2013-07-01     Monday
1  2013-07-02    Tuesday
2  2013-07-03  Wednesday
3  2013-07-04   Thursday
4  2013-07-05     Friday

In [48]:
#nun die wochentage one hot encoden
data_shaped = pd.get_dummies(data_shaped, columns=['Wochentag'])
#print(data_shaped.head())

#order the columns
data_shaped = data_shaped[['Datum', 'Wochentag_Monday', 'Wochentag_Tuesday', 'Wochentag_Wednesday', 'Wochentag_Thursday', 'Wochentag_Friday', 'Wochentag_Saturday', 'Wochentag_Sunday']]
#and rename the columns
data_shaped.columns = ['Datum', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag', 'Sonntag']
#statt True und False, 1 und 0
data_shaped = data_shaped * 1
print(data_shaped.head(15))

         Datum  Montag  Dienstag  Mittwoch  Donnerstag  Freitag  Samstag  \
0   2013-07-01       1         0         0           0        0        0
1   2013-07-02       0         1         0           0        0        0
2   2013-07-03       0         0         1           0        0        0
3   2013-07-04       0         0         0           1        0        0
4   2013-07-05       0         0         0           0        1        0
5   2013-07-06       0         0         0           0        0        1
6   2013-07-07       0         0         0           0        0        0
7   2013-07-08       1         0         0           0        0        0
8   2013-07-09       0         1         0           0        0        0
9   2013-07-10       0         0         1           0        0        0
10  2013-07-11       0         0         0           1        0        0
11  2013-07-12       0         0         0           0        1        0
12  2013-07-13       0         0         0           0        0        1
13  2013-07-14       0         0         0           0        0        0
14  2013-07-15       1         0         0           0        0        0

    Sonntag
0         0
1         0
2         0
3         0
4         0
5         0
6         1
7         0
8         0
9         0
10        0
11        0
12        0
13        1
14        0

In [49]:
#export the data
data_shaped.to_csv('Wochentage.csv', index=False)