In [46]:
import pandas as pd
from datetime import datetime, timedelta

In [48]:
# Read the holiday dates
holidays_df = pd.read_csv('/workspaces/bakery_sales_prediction/0_DataPreparation/06_Ferientage/feriendaten.csv', sep=';', header=None)
holidays_df.drop(columns=1, inplace=True)

holidays_df

              0
0    25.03.2013
1    26.03.2013
2    27.03.2013
3    28.03.2013
4    29.03.2013
..          ...
668  07.08.2019
669  08.08.2019
670  09.08.2019
671  10.08.2019
672  11.08.2019

[673 rows x 1 columns]

In [50]:
holidays_df.columns = ['Datum']
holidays_df

          Datum
0    25.03.2013
1    26.03.2013
2    27.03.2013
3    28.03.2013
4    29.03.2013
..          ...
668  07.08.2019
669  08.08.2019
670  09.08.2019
671  10.08.2019
672  11.08.2019

[673 rows x 1 columns]

In [51]:
holidays_df['Datum'] = holidays_df['Datum'].str.strip()
holidays_df['Datum'] = pd.to_datetime(holidays_df['Datum'], format='%d.%m.%Y', errors='coerce')

holidays_df

         Datum
0   2013-03-25
1   2013-03-26
2   2013-03-27
3   2013-03-28
4   2013-03-29
..         ...
668 2019-08-07
669 2019-08-08
670 2019-08-09
671 2019-08-10
672 2019-08-11

[673 rows x 1 columns]

In [52]:

# Create date range for all dates 2013-2018
date_range = pd.date_range(start='2013-01-01', end='2019-07-30', freq='D')

# Create final DataFrame
final_df = pd.DataFrame(index=date_range)
final_df.index.name = 'Datum'
final_df

Empty DataFrame
Columns: []
Index: [2013-01-01 00:00:00, 2013-01-02 00:00:00, 2013-01-03 00:00:00, 2013-01-04 00:00:00, 2013-01-05 00:00:00, 2013-01-06 00:00:00, 2013-01-07 00:00:00, 2013-01-08 00:00:00, 2013-01-09 00:00:00, 2013-01-10 00:00:00, 2013-01-11 00:00:00, 2013-01-12 00:00:00, 2013-01-13 00:00:00, 2013-01-14 00:00:00, 2013-01-15 00:00:00, 2013-01-16 00:00:00, 2013-01-17 00:00:00, 2013-01-18 00:00:00, 2013-01-19 00:00:00, 2013-01-20 00:00:00, 2013-01-21 00:00:00, 2013-01-22 00:00:00, 2013-01-23 00:00:00, 2013-01-24 00:00:00, 2013-01-25 00:00:00, 2013-01-26 00:00:00, 2013-01-27 00:00:00, 2013-01-28 00:00:00, 2013-01-29 00:00:00, 2013-01-30 00:00:00, 2013-01-31 00:00:00, 2013-02-01 00:00:00, 2013-02-02 00:00:00, 2013-02-03 00:00:00, 2013-02-04 00:00:00, 2013-02-05 00:00:00, 2013-02-06 00:00:00, 2013-02-07 00:00:00, 2013-02-08 00:00:00, 2013-02-09 00:00:00, 2013-02-10 00:00:00, 2013-02-11 00:00:00, 2013-02-12 00:00:00, 2013-02-13 00:00:00, 2013-02-14 00:00:00, 2013-02-15 00:00:00, 2013-02-16 00:00:00, 2013-02-17 00:00:00, 2013-02-18 00:00:00, 2013-02-19 00:00:00, 2013-02-20 00:00:00, 2013-02-21 00:00:00, 2013-02-22 00:00:00, 2013-02-23 00:00:00, 2013-02-24 00:00:00, 2013-02-25 00:00:00, 2013-02-26 00:00:00, 2013-02-27 00:00:00, 2013-02-28 00:00:00, 2013-03-01 00:00:00, 2013-03-02 00:00:00, 2013-03-03 00:00:00, 2013-03-04 00:00:00, 2013-03-05 00:00:00, 2013-03-06 00:00:00, 2013-03-07 00:00:00, 2013-03-08 00:00:00, 2013-03-09 00:00:00, 2013-03-10 00:00:00, 2013-03-11 00:00:00, 2013-03-12 00:00:00, 2013-03-13 00:00:00, 2013-03-14 00:00:00, 2013-03-15 00:00:00, 2013-03-16 00:00:00, 2013-03-17 00:00:00, 2013-03-18 00:00:00, 2013-03-19 00:00:00, 2013-03-20 00:00:00, 2013-03-21 00:00:00, 2013-03-22 00:00:00, 2013-03-23 00:00:00, 2013-03-24 00:00:00, 2013-03-25 00:00:00, 2013-03-26 00:00:00, 2013-03-27 00:00:00, 2013-03-28 00:00:00, 2013-03-29 00:00:00, 2013-03-30 00:00:00, 2013-03-31 00:00:00, 2013-04-01 00:00:00, 2013-04-02 00:00:00, 2013-04-03 00:00:00, 2013-04-04 00:00:00, 2013-04-05 00:00:00, 2013-04-06 00:00:00, 2013-04-07 00:00:00, 2013-04-08 00:00:00, 2013-04-09 00:00:00, 2013-04-10 00:00:00, ...]

[2402 rows x 0 columns]

In [53]:
# Create holiday column (0 by default)
final_df['is_holiday'] = 0

# Set 1 for holiday dates
final_df.loc[final_df.index.isin(holidays_df['Datum']), 'is_holiday'] = 1

final_df

            is_holiday
Datum
2013-01-01           0
2013-01-02           0
2013-01-03           0
2013-01-04           0
2013-01-05           0
...                ...
2019-07-26           1
2019-07-27           1
2019-07-28           1
2019-07-29           1
2019-07-30           1

[2402 rows x 1 columns]

In [54]:
final_df.to_csv('/workspaces/bakery_sales_prediction/0_DataPreparation/06_Ferientage/06_ferientage.csv', index=True)