Damit ich ein neuronales Netwerk erstellen kann welches mir Umsatzvorhersagen zu Croissants macht muss ich erst einmal die Daten dafür aufbereiten.

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import os

# Import Data (data in ling format with all our available features)
data = pd.read_csv("/workspaces/bakery_sales_prediction/0_DataPreparation/00_data/data_long.csv")

# Drop unnecessary columns
data = data.drop(columns=['Warengruppe_1', "Warengruppe_2", "Warengruppe_4", "Warengruppe_5", "Warengruppe_6"])
#only use the croissants data
data = data[data["Warengruppe_3"] == 1]
data.head()

,Datum,Umsatz,Warengruppe_3,Temp_Very_Cold,Temp_Cold,Temp_Mild,Temp_Warm,Temp_Hot,Cloud_Clear,Cloud_Partly_Cloudy,...,Monat_7,Monat_8,Monat_9,Monat_10,Monat_11,Monat_12,zwischen_den_jahren,Number_of_ships_scaled,Cloud_ok,Wind_ok
3638,2013-07-01,201.198426,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0.0,0,1
3639,2013-07-02,265.261254,1,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0.0,1,1
3640,2013-07-03,210.260241,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0.0,0,1
3641,2013-07-04,190.686641,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0.0,0,1
3642,2013-07-05,181.644870,1,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0.2,1,1

In [2]:
#Seperate the data into train, test and validation data
# Data Preparation
# Handle missing values by removing rows with any missing values
data = data.dropna()

# Data split Zeitreihen
# Define your date thresholds
train_end_date = '2017-07-31'
validation_end_date = '2018-07-31'

# Split the data based on the date thresholds
train_data = data[data['Datum'] <= train_end_date]
vali_data = data[(data['Datum'] > train_end_date) & (data['Datum'] <= validation_end_date)]
test_data = data[data['Datum'] > validation_end_date]

# Check the dimensions of the datasets
print("Training dataset dimensions:", train_data.shape)
print("Validation dataset dimensions:", vali_data.shape)
print("Test dataset dimensions:", test_data.shape)

# Separating features and labels
training_features = train_data.drop('Umsatz', axis=1).drop('Datum', axis=1)
validation_features = vali_data.drop('Umsatz', axis=1).drop('Datum', axis=1)
test_features = test_data.drop('Umsatz', axis=1).drop('Datum', axis=1)

training_labels = train_data[['Umsatz']]
validation_labels = vali_data[['Umsatz']]
test_labels = test_data[['Umsatz']]

# Print dimensions of the dataframes
print()
print()
print("Training features dimensions:", training_features.shape)
print("Validation features dimensions:", validation_features.shape)
print("Test features dimensions:", test_features.shape)
print()
print("Training labels dimensions:", training_labels.shape)
print("Validation labels dimensions:", validation_labels.shape)
print("Test labels dimensions:", test_labels.shape)

Training dataset dimensions: (1462, 59)
Validation dataset dimensions: (357, 59)
Test dataset dimensions: (0, 59)


Training features dimensions: (1462, 57)
Validation features dimensions: (357, 57)
Test features dimensions: (0, 57)

Training labels dimensions: (1462, 1)
Validation labels dimensions: (357, 1)
Test labels dimensions: (0, 1)

In [4]:
# Create subdirectory for the pickle files
# Create subdirectory for the pickle files
subdirectory = "pickle_data"
os.makedirs(subdirectory, exist_ok=True)

# Export of the prepared data to subdirectory as pickle files
training_features.to_pickle(f"{subdirectory}/training_features.pkl")
validation_features.to_pickle(f"{subdirectory}/validation_features.pkl")
test_features.to_pickle(f"{subdirectory}/test_features.pkl")
training_labels.to_pickle(f"{subdirectory}/training_labels.pkl")
validation_labels.to_pickle(f"{subdirectory}/validation_labels.pkl")
test_labels.to_pickle(f"{subdirectory}/test_labels.pkl")